* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav.header {
    color:#fff;
    min-height: 85vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,15,20,0.7), rgba(4,10,20,0.7)), url("../images/uga-arch.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 25px;
}

ul {
   display: flex;
   flex: 1;
   justify-content: right;
  
}

li {
    list-style-type: none;
    display: inline-block;
    position: relative;
    padding: 5px; 
    margin: 5px;;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.nav-links ul li:active {
    /* either change color or add text decoration if needed*/
}

nav .fa-bars, nav .fa-xmark {
    display: none;
}

.text-box {
    width: 70%;
    color: #fff;
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 50px;
    margin: 10px;
}

.text-box p {
    font-size: 24px;
}

.row, summary {
    display: flex;
    margin: 50px 0px;
}

summary {
    margin-left: 10px;
    text-indent: 50px;
}

.about {
    font-size: 40px;
    border-right: 5px solid #000;
    text-align: center;
}

img {
    display: block;
    height: 300px;
    width: 300px;
    margin: 20px 15px;
}

.projects {
    font-size: 40px;
    margin: auto;
    padding: 20px 0px 0px;
    border-top: 5px solid #000;
    flex: 2;
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    border: 1px solid #000;
    margin: 30px 20px;
    height: 300px;
    height: 350px;
    width: 350px;
    background: #68666649;
}

.project-2 {
    background-image: linear-gradient(rgba(4,15,20,0.7), rgba(4,10,20,0.7)), url('../images/My\ project-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.card-header {
    margin-bottom: 10px;
}

.project-card, .project-card p {
    text-align: center;
    margin-bottom: 20px;
}

.card-link {
    cursor: pointer;
}

.card-link a {
    color: white;
    text-decoration: none; 
}

.card-link a:hover {
   font-weight: bold;
   font-size: larger;
   transition: 1s;
}

.contact h2 {
    font-size: 40px;
    text-align: center;
    border-top: 5px solid #000;
    margin-top: 100px;
    padding: 50px 0px;
}

.contact-link a {
    display: inline-block;
    margin: 20px 350px;
    position: relative;
    justify-content: space-around;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.contact-link a:hover {
    font-weight: bolder;
    text-decoration: underline;
    color: #0000ff;
    font-size: larger;
    transition: 1s;
}

.icon {
    margin: 20px 0px 0px 20px;
    font-size: 18px;
    position: relative;
    bottom: 10px;
}

.icon-comment {
    display: flex;
}

@media(max-width:700px) {
    /* will add menu functionality when learning JS; only added now to visualize how it'd work */
    .nav-links ul {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: rgb(146, 144, 146);
        height: 100vh;
        width: 150px;
        top: 0px;
        right: -150px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa-xmark {
        display: block;
        padding: 10px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
    }

    nav .fa-bars {
        display: flex;
        justify-content: right;
        padding: 25px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
    }

    .text-box h1 {
        font-size: 25px;
    }

    .text-box p, li{
        font-size: 16px;
    }

    .grid {
        justify-content: center;
    }
}

footer {
    text-align: center;
    margin: 100px 0px 50px;
}